$primary-color: #10375C;
$secondary-color: #FF5722;
$gray: #9A9A9A;
$black: #222831;

html {
    font-size: 62.5%;
}
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
}
body {
    font-family: "Lato", "Lora", "Playfair Display",sans-serif;
    color: $black;
    line-height: 1.4;
    font-weight: 400;
    padding-bottom: 20rem;
}
.wrapper {
    width: 100%;
    // max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.header {
    padding-top: 6.6rem;
    padding-bottom: 5rem;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-family: "Playfair Display";
        font-size: 2.4rem;
        font-weight: 700;
        color: $primary-color;
    }
    &__menu {
        &-list {
            display: flex;
            align-items: center;
        }
        &-item {
            margin-left: 4rem;
            &:last-child {
                margin-left: 10rem;
            }
        }
        &-link {
            font-family: "Lato";
            font-weight: 600;
            font-size: 1.6rem;
            color: $black;
    
        }

    }
}
.btn {
    font-family: "Lato";
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
    &--link {
        color: $secondary-color;
    }
    &--secondary {
        color: white;
        background-color: $secondary-color;
    }
}
.introduction {
    &__label {
        font-size: 2rem;
        font-weight: 500;
        position: relative;
        margin-bottom: 1.5rem;
       &:after {
           content: "";
           position: absolute;
           top: 15px;
           left: 125px;
           width: 7rem;
           height: 2px;
           background-color: $black; 
       }
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-family: "Lora";
        font-size: 5.2rem;
        font-weight: 700;
       flex-grow: 1;
        color: $primary-color;
        margin-right: 6rem;
        &--red {
            color: #F50000;
        }
    }
    &__desc {
        font-size: 2rem;
        font-weight: 500;
        max-width: 38rem;
        color: #6A6A6A;
    }
  
}

.find-space {
    margin-top: 2rem;
    &__form {
        max-width: 44.5rem;
        background-color: $primary-color;
        padding: 4.2rem 4rem 3rem 4rem;
    }
    &__title {
        font-family: "Lora";
        color: white;
        font-size: 3.4rem;
        font-weight: 700;
        margin-bottom: 2.7rem;
        line-height: 4.3rem;
    }
    &__select {
        display: block;
        width: 100%;
        margin-bottom: 1.7rem;
        background-color: #0D2C4A;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0.8rem 1.6rem;
        label {
            color: #fff;
            opacity: 0.35;
        }
        select {
            display: block;
            background: transparent;
            color: white;
            border: 0;
            width: 100%;
            font-size: 16px;
            padding: 8px 0px;
        }
    }
    &__button {
        display: block;
        
    }
}
